<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Culto de Atenea</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <link rel='stylesheet' type='text/css' media='screen' href='../../../static/principal.css'
          th:href="@{/principal.css}">
    <script type="text/javascript" src="../../../static/principal.js" defer th:src="@{/principal.js}"></script>
    <script type="text/javascript" src="../../../static/escaladoPaginaAdmin.js" defer
            th:src="@{/escaladoPaginaAdmin.js}"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark col-12 col-md-2" th:fragment="navLateral">
    <div class="container-fluid collapse navbar navbar-collapse h-50" id="nav">
        <ul class="navbar-nav mx-auto d-flex flex-column justify-content-evenly flex-grow-1 h-100">
            <li class="nav-item border border-light m-auto w-100 text-center py-md-2">
                <a class="nav-link" href="../paginaAdminNoticias.html" th:href="@{/admin/noticias}">Noticias</a>
            </li>
            <li class="nav-item border border-light m-auto w-100  text-center py-md-2">
                <a class="nav-link" th:href="@{/admin/nuevoProducto}">Añadir
                    Productos</a>
            </li>
            <li class="nav-item border border-light m-auto w-100  text-center py-md-2">
                <a class="nav-link" th:href="@{/admin/editarProducto}">Editar Producto</a>
            </li>
            <li class="nav-item border border-light m-auto w-100  text-center py-md-2">
                <a class="nav-link" href="#" th:href="@{/admin/ventas}">Ventas</a>
            </li>
            <li class="nav-item border border-danger m-auto w-100  text-center py-md-2">
                <a class="nav-link" href="#" th:href="@{/}">Zona publica</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>