body > div:first-of-type {
    background-image: linear-gradient(to right bottom, #1a2c48, #2a405b, #3b546f, #4d6a82, #618096, #6d92a6, #7aa4b5, #89b7c4, #94c9d0, #a3dbdb, #b4ede4, #c8ffec);
    background-repeat: no-repeat;
}

.nav-link{
    color: #939fad;
}
.nav-link:hover, .nav-link:focus{
    color: #b0bfd0;
}

.modal-backdrop {
    position: unset;
}

.carousel-item img{
    /*width: 670px !important;*/
}

.noticia{
    width: 25vw;
    height: fit-content;
}

@media only screen and (max-width: 992px) {
    .noticia{
        width: 100%;
        margin: auto;
    }
}
/*
body>div:first-of-type>nav{
    min-width: 175px;
    width: 15%;
}*/

/*Para poder hacer el hover en el menú desplegable, claramente me lo he buscado por ahí XD*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /*remove the gap so it doesn't close*/
}